{{ partial "header.html" . }}

<div id="post-index" class="container">
    {{ partial "intro.html" . }}

    <ol id="menuchap" class="post-list">
        
        {{ range where .Data.Pages "Params.masque" "!=" "oui" }}

        <div style="background:  url({{ .Params.wip  }});background-size: 55px;opacity:0.75; background-position:-8px center;background-repeat:no-repeat;">
        <div class="lienchap" style ="background:  url({{ .Params.background  }});   background-position:top right;background-size: contain; background-repeat:no-repeat;">
                  {{ partial "page-stub.html" . }}
        </div>
        </div>
        {{ end }}
    </ol>

     
    
    <div class="post-navigation">
        {{ partial "pagination.html" . }}
        
    </div>
</div>

{{ partial "footer.html" . }}
