{{ partial "header.html" . }}

<div class="container">
    <article class="post-container">
        {{ partial "page-header.html" . }}

 
        
          {{if .Params.masque }}
          <div class="barrenavigation">
              {{ $chapitre := .Params.chapitre  }}
            <center>{{ with .Parent}}  <a href="{{.Permalink}}/{{$chapitre}}">- Sommaire -</a>  {{ end }}</center>
            
            
            {{ with .NextInSection }}
                {{if .Params.masque }}  <a class="left" href="{{.Permalink}}"> < {{.Title}}</a>  {{ end }}
             {{ end }} 
            
           
            
             {{ with  .PrevInSection }}
              {{if .Params.masque }}  <a class="right" href="{{.Permalink}}"> {{.Title}} ></a>  {{ end }}
             {{ end }}
           
        
            </div>
             {{ end }}
    <br />
    
        {{ partial "page-content.html" . }}
        

        {{ partial "post-footer.html" . }}
    </article>
   
</div>

{{ partial "footer.html" . }}
