/* fichier CCS : décoration du fichier blocs.html */
/*(C) S. COLOMBAN - 2019     CC : by-nc-sa */


body {
  color : #111111 ;
}

h1 {
  color : #FF0000 ;
  text-align :center;
  border : solid 2px #000000;
  
}

  
h2 {
  color : #555555 ;
  text-align :center;
}

.bloc1 {   /* ne pas oublier le point devant bloc2 */
   border : solid 2px #FF0000;
   color : #FF0000;
   margin  : 10px 20px 10px 20px;    /* dans l'ordre taille  du  haut-droite-bas-gauche  */
   padding  : 10px 20px 10px 20px;    /* dans l'ordre taille  du  haut-droite-bas-gauche  */
   background : #FFDDDD;
}

.bloc2 {   /* ne pas oublier le point devant bloc2 */
   border : solid 2px #0000FF;
   color : #0000FF;
   margin  : 10px 20px 10px 20px;    /* dans l'ordre taille  du  haut-droite-bas-gauche  */
   padding  : 10px 20px 10px 20px;    /* dans l'ordre taille  du  haut-droite-bas-gauche  */
   background : #DDDDFF;
}

