{{ partial "header.html" . }}

<div class="container">
    {{ partial "intro.html" . }}
    <p class="error">Oh, cette page n'existe pas. Retourner au <a href="{{ .Site.BaseURL }}">Sommaire</a>.</p>
</div>

{{ partial "footer.html" . }}
