{{ partial "header.html" . }}
<div class="container">
    <article class="post-container">
    
        {{ partial "page-header.html" . }}

        {{ partial "page-content.html" . }}
       <div>
        {{ with .PrevInSection }}
          <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
        {{ with .NextInSection }}
          <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
        {{ end }}
    </div>
        
    </article>
</div>

{{ partial "footer.html" . }}
