/*   fichier S4_deco.css    */
/*   (C) S. COLOMBAN - 2019     CC : by-nc-sa */

.bloc1, .bloc2, .bloc3 {  /* propriétés communes aux trois blocs */
  margin : 10px 20px 10px 20px;
  border : 4px solid #000000;
  padding : 20px 10px 20px 5px;
}  

.bloc1 {     /* autres propriétés de bloc2 */
  background : #FFFFDD ;

}    

.bloc2 {     /* autres propriétés de bloc2 */
  background : #FFDDFF ;

}  

.bloc3 {      /* autres propriétés de bloc3 */
  background : #DDFFFF ;

}     