/*   fichier S4_tache_finale.css        */
/*  (C) S. COLOMBAN - 2019     CC : by-nc-sa */


body {
font-size :12px;
}

h1 {
  text-align:center;
  margin : 5px ;
  border : 4px solid #FF0000;
  padding : 10px;
  font-size : 2rem;
  color : #FF0000;
}

h2 {
  text-align : right ;
  font-size : 1.5rem;
  font-style: oblique;
}
h3 {
  text-align : center ;
  font-size : 1.2rem;
   border : 1px dotted #FF0000;
}

.bloc1, .bloc2, .bloc3, .bloc4 {   
  margin : 20px 30px;
  border : 4px solid #000000;
  width : 350px;
  height : 200px;		  
  padding : 20px 10px 20px 10px;
  font-size : 1rem;

}  

.bloc1 {     /* autres propriétés de bloc2 */
  background : #FFFFDD ;
}    

.bloc2 {     /* autres propriétés de bloc2 */
  background : #FFDDFF ;
}  

.bloc3 {      /* autres propriétés de bloc3 */
  background : #DDFFFF ;

}   

.bloc4 {      /* autres propriétés de bloc3 */
  background : #DDFFDD ;
  
}   
.parent {
float : left;
vertical-align:top;

}