/*   fichier S6_deco2.css        */
/*  (C) S. COLOMBAN - 2019     CC : by-nc-sa */


body {
 font-size :15px;
 margin : 20px auto;
 width : 810px;
 border : dashed 5px #CCCCCC;
}


h1 {    
  background :#FFDDDD;
  width : 490px ;
  height : 90px ;
  margin : 45px 145px 25px 145px;
  border : dotted 5px #FF0000;
  padding :5px;
}  

.corps { 
  background :#DDDDFF;
  width : 590px ;
  height : 140px ;
  margin : 25px 95px 20px 95px;
  border : solid 5px #0000FF;
  padding :5px;
  border-radius:10px;
}  

.pied {   
  background :#BBFFBB;
  width : 590px ;
  height : 90px ;
  margin : 25px 95px 20px 95px;
  border : solid 5px #88BB88;
  padding :5px;
  border-radius:20px;
}     



