/*   fichier S6_enrichissements.css        */
/*  (C) S. COLOMBAN - 2019     CC : by-nc-sa */


body {
 font-size :12px;
 margin : 20px auto;
 width : 810px;
 border : dashed 5px #CCCCCC;
}


h1 {     
  width : 490px ;
  height : 90px ;
  margin : 45px 145px 25px 145px;
  border : solid 5px #000000;
  padding :10px;
}  

.corps {     
  width : 590px ;
  height : 140px ;
  margin : 25px 95px 25px 95px;
  border : solid 5px #000000;
  padding :10px;
}  

.pied {     
  width : 590px ;
  height : 90px ;
  margin : 25px 95px 45px 95px;
  border : solid 5px #000000;
  padding :10px;
}     



