{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
    <nav class="pagination" role="navigation">
        <span class="page-number">Page {{ $pag.PageNumber }} of {{ $pag.TotalPages }}</span>
        {{ if $pag.HasPrev }}
            <a class="newer-posts" href="{{ $pag.Prev.URL }}">&larr; Posts plus récents</a>
        {{ end }}
        {{ if $pag.HasNext }}
            <a class="older-posts" href="{{ $pag.Next.URL }}"> Posts plus anciens &rarr;</a>
        {{ end }}
    </nav>
{{ end }}