<header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
    {{ if .Description }}
        <p class="post-description" itemprop="description">{{ .Description }}</p>
    {{ end }}
    <p class="post-date{{ if not .Site.Params.readingTime }} post-line{{ end }}">
        <span>Publication : <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
    le {{ .Lastmod.Day }} {{ index $.Site.Data.mois (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Year }}
</time></span>
        <span> &nbsp;  &nbsp;  &nbsp;  &nbsp; S. Colomban -- CC : by - nc - sa </span>
        <span itemscope="" itemprop="author" itemtype="https://schema.org/Person">
            <span itemprop="name">
                <a href="{{ .Params.profile | default .Site.Author.profile | default "#" }}" itemprop="url" rel="author">{{ .Params.author | default .Site.Author.name }}</a>
            </span>
        </span>
    </p>
    {{ if .Site.Params.readingTime }}
        <p class="post-reading post-line">
            <span>{{ .Site.Params.readingTimeText }} {{ .Page.ReadingTime }} min</span>
        </p>
    {{ end }}
</header>