<li class="post-stub" itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting">
    <a href="{{ .Permalink }}" itemprop="url" title="Go to post detail">
        <h4 class="post-stub-title" itemprop="name">{{ .Title }}</h4>
        <time class="post-stub-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
  Article publié le {{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }} (dernière modification le {{ .Lastmod.Day }} {{ index $.Site.Data.mois (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Year }})
</time>
        {{ with .Params.featured }}
            <span class="post-stub-tag">Featured</span>
        {{ end }}
    </a>
</li>



