/*   fichier S5_decossart.css        */
/*  (C) S. COLOMBAN - 2019     CC : by-nc-sa */


body {
 font-size :12px;
 margin : 50px auto;
 width : 810px;
 border : dashed 5px #CCCCCC;
 font-size:15px;

}


 h1 {     
  text-align:center;
  font-size:2.5rem; 
  color :   #666666;;
  width : 700px ;
  height : 50px ;
  margin : 40px 40px 15px 40px;
  border : solid  #666666;
  border-width : 5px 0px;
  padding :5px;

}  

.cadre1 { 
  color : #555555;
  vertical-align:top;   
  font-size:1.1rem; 
  display : inline-block ;
  width : 450px ;
  height : 200px ;
  margin : 15px 15px 15px 40px;
  border : solid 5px transparent;
  padding :5px;
}  

.cadre2 {   
  vertical-align:top;  
  color : #FF4444;
  text-align: center;
  font-size:1rem;
  display : inline-block ;
  width : 200px ;
  height : 200px ;
  margin : 15px 40px 40px 15px;
  border : solid 5px #000000;
  padding :5px;
}    

.cadre3 {     
  vertical-align:top;
  font-size:1.2rem;
  font-style : italic;
  display : inline-block ;
  width : 300px ;
  height : 100px ;
  margin : 15px 15px 40px 40px;
  border : solid 5px rgba(200,200,255,0.9);
  padding :10px 5px;
  border-radius : 20px;
  background : rgba(200,200,255,0.3);
}   

.cadre4 {  
  vertical-align:top;  
  font-size:1.2rem;
  font-style : italic; 
  display : inline-block ;
  width : 350px ;
  height : 100px ;
  margin : 15px 40px 40px 20px;
  border : solid 5px rgba(200,200,255,0.9);
  padding :10px 5px;
  border-radius : 20px;
  background : rgba(200,200,255,0.3);
}   

img {width:100%;} 
 