/*   fichier S5_decossart.css        */
/*  (C) S. COLOMBAN - 2019     CC : by-nc-sa */


body {
 font-size :12px;
 margin : 50px auto;
 width : 810px;
 border : dashed 5px #CCCCCC;
}


h1 {     
  width : 700px ;
  height : 50px ;
  margin : 40px 40px 15px 40px;
  border : solid 5px #000000;
  padding :5px;
}  

.cadre1 {     
  display : inline-block ;
  vertical-align:top;
  width : 450px ;
  height : 200px ;
  margin : 15px 15px 15px 40px;
  border : solid 5px #000000;
  padding :5px;
}  

.cadre2 {     
  display : inline-block ;
  vertical-align:top;
  width : 200px ;
  height : 200px ;
  margin : 15px 40px 40px 15px;
  border : solid 5px #000000;
  padding :5px;
}    

.cadre3 {     
  display : inline-block ;
  vertical-align:top;
  width : 300px ;
  height : 100px ;
  margin : 15px 15px 40px 40px;
  border : solid 5px #000000;
  padding :5px;
}   

.cadre4 {     
  display : inline-block ;
  vertical-align:top;
  width : 350px ;
  height : 100px ;
  margin : 15px 40px 40px 20px;
  border : solid 5px #000000;
  padding :5px;
}   

