{{ $_hugo_config := `{ "version": 1 }` }}
<div class="container">
  <center><div id="player-wrapper" class="{{ .Get 1 }}"></div></center>
</div>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@clappr/player@latest/dist/clappr.min.js"
>
</script>

<script>
  var playerElement = document.getElementById("player-wrapper");

  var player = new Clappr.Player({
    source: {{ .Get 0 }},
    mute: true,
    height: 360,
    width: 540
  });

  player.attachTo(playerElement);
</script>
