/* CSS
 (C) S. COLOMBAN - 2019     CC : by-nc-sa 
*/

body {
    font-size:15px;
}
h1 {
    font-size:2rem;
    color : #FF0000;
    text-align : center ;
    border : dotted #FF0000;
    border-width : 0 0 3px 0;
}

h2{
    padding :0px 20px;
    font-size:1.5rem;
    color : #109810;
    text-align : left ;

}

h3{
    padding :0px 20px;  
    font-size:1.3rem;
    color : #000000;
    text-align : right ;

}

h4{
    padding-left:40px;
    margin:5px 0px 0px 0px;
    text-decoration:underline;
    font-size:1.3rem;
    color : #FF0000;
    text-align : left ;

}
.conteneur{
    margin : 0 auto;
    text-align:center ;
}
 
.cadre {
    vertical-align:top;
    background : #EEEEEE;
    display : inline-block;
    width : 40%;
    height: 350px;
    margin : 5px 10px;
    padding : 20px;
    border-radius:20px;

        
}

ul {
     text-align:left;
}


